<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Who Am I</title>
  </head>
  <body>
    <h2>Who Am I</h2>
    <p>ID:<b> <%= user.id %> </b></p>
    <p>Name:<b> <%= user.name %> </b></p>
    <p>Email:<b> <%= user.email %> </b></p>
    <p>Password:<b> <%= user.password %> </b></p>
    <p>Identity Type:<b> <%= user.identity_type %> </b></p>
    <p>Identity Number:<b> <%= user.identity_number %> </b></p>
    <p>Address:<b> <%= user.address%> </b></p>
  </body>
</html>
